<!DOCTYPE html>
<html ng-app="app">
<!-- ввод ХТМЛ управляется приложением app -->

<!--
Если мы используем приложение Ангуляр, то нам нужно к какому -ниб. тегу подвязать аттрибьют ng-app
Мы хотим, чтобы было какое-то ангуляровское приложение, которое бы управляло данным кодом ( всем кодом в этом файле)
И мы даем этому приложению имя "app" (имя может быть и любым другим)
ng - это префикс, по которому можно определять , что это ангуляр.
-->

<!--далее идет заголовок страницы-->
<head>
    <meta charset="UTF-8">

   <!-- что есть в заголовке: бутстрап - это бибилотека для отрисовки элементов, по сути - это пачка стилей.
    Вставляем версию 5.0.2-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


     <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->

  <!--  подключаем angular.js:-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->

    <!--и ДОБАВЛЯЕМ НАШ ФАЙЛ:-->
    <script src="index.js"></script>

    <title>Title</title>
</head>


<body>

<!--данный блок управляется нашим контроллером: indexController-->
<!--когда мы на div вешаем ng-controller="indexController, мы говорим, что весь этот блок будет управляться данным контроллером-->
<!--называть данный контроллер можем как угодно-->
<div class="container" ng-controller="indexController">
    <!--container и btn (ниже) &#45;&#45; это то, что взято из библиотеки бутстрап-->
   <!-- container - занимает всю страничку и центрирует контент-->

    <h3>List of Products</h3>     <!--заголовок 3го уровня-->
<!--    это просто пример scope:-->
    {{hh}}
    <table class="table table-hover">    <!--идет табличка -->
        <tr>
            <td>ID</td>
            <td>title</td>
            <td>cost</td>
            <td>level</td>
            <td>Action</td>
        </tr>
        <tbody>      <!--началось тело таблицы-->
<!--        ng-repeat  - это цикл foreach в ангуляре-->
        <tr ng-repeat="p in ProductList">    <!-- tr - это строка в таблице-->
            <td>{{p.id}}</td>    <!-- {{}}  - означает обращение к полю id объекта p; две фигурные скобки на это указывают-->
            <td>{{p.title}}</td>
            <td>{{p.cost}}</td>
            <td>
                <button class="btn btn-primary" ng-click="changeLevel(p.id, -5)">-</button>   <!--ng-click &#45;&#45; это вешаем activeListener на ангуляре-->
                {{p.level}}
                <button class="btn btn-primary" ng-click="changeLevel(p.id, 5)">+</button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Delete</button>
            </td>
<!--            добавили пустой столбец, чтобы производить в нем действие, а также кнопку Удалить, окрашенную в красный цвет-->
<!--            Двойные фигурные скобки - это ссылка на переменную в scope  ng-click  -- это аналог Листенера -->

        </tr>
        </tbody>
    </table>

    <!-- посылаем данные с формы
-->

        <p></p>
    <h3>Add Product via JSON</h3>    <!--форма, в которую мы добавляем студента/ задача формы - сформировать запрос-->
    <form novalidate ng-submit="createProductJson()">
       <!-- ng-submit - нестандартный вариант формы. Это листенер, что когда кто-то подтвердит данные в форме, мы хотим сами все сделать
        и мы хотим выполнить метод createProduct()  (см. файл js - метод createProduct в $scope)-->

        <input class="form-control" type="text"  placeholder="Title" ng-model="newProductJson.title">
        <p></p>   <!--placeholder - это то, что будет написано в инпуте-->
        <input class="form-control" type="number"  placeholder="cost" ng-model="newProductJson.cost">
        <p></p>

        <button type="submit" class="btn btn-primary">Remain Json product</button>
    </form>

    <!--у любой формы должна быть кнопка с типом submit; это означает, что мы заполнили все данные и хотим отправить запрос
    т.е. мы нажали на submit и createProduct перехватил событие-->

   <!-- как передать данные в js, чтобы он отправил их на бекэнд? для этого исп-ют ng-model: мы собираем модель даннных и то,
    что вписано в инпуте - зашьется в ng-model (конкретно в поле, которое после .) - создаем некий JSON объект-->

    <p></p>
    <h3>Slozhenije Form</h3>    <!--форма, в которую мы добавляем студента/ задача формы - сформировать запрос-->
    <form novalidate ng-submit="sumTwoNumbers()">
        <!-- ng-submit - нестандартный вариант формы. Это листенер, что когда кто-то подтвердит данные в форме, мы хотим сами все сделать
         и мы хотим выполнить метод createProduct()  (см. файл js - метод createProduct в $scope)-->

        <input class="form-control" type="text"  placeholder="a" ng-model="calcAdd.a">
        <p></p>   <!--placeholder - это то, что будет написано в инпуте-->
        <input class="form-control" type="number"  placeholder="b" ng-model="calcAdd.b">
        <p></p>

        <button type="submit" class="btn btn-primary">Get sum</button>
    </form>



</div>

</body>
</html>
