<!DOCTYPE html>
<html ng-app="app">
<!-- ввод ХТМЛ управляется приложением app -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="index.js"></script>

    <title>Title</title>
</head>


<body>
<!--данный блок управляется нашим контроллером: indexController-->
<div class="container" ng-controller="indexController">
    <h3>List of Products</h3>
<!--    это просто пример scope:-->
    {{hh}}
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>title</td>
            <td>cost</td>
            <td>level</td>
            <td>Action</td>
        </tr>
        <tbody>
<!--        ng-repeat  - это цикл foreach-->
        <tr ng-repeat="p in ProductList">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.cost}}</td>
            <td>{{p.level}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Delete</button>
            </td>
<!--            добавили пустой столбец, чтобы производить в нем действие, а также кнопку Удалить, окрашенную в красный цвет-->
<!--            Двойные фигурные скобки - это ссылка на переменную в scope-->

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>